# Eagle project files
eagle.epf
fabrication.lbr
*.b#*
*.s#*
*.l#*
*-exportpro.dru
*-exportpro2.cfg
DRILEGEND.CFG
*.pro

# Docs and firmware
build
.obsidian
.pio
.vscode
sdkconfig.*
c_cpp_properties.json
.fake

# Eclipse
.metadata
.settings

# Kicad
*.kicad_prl
fp-info-cache
manufacturing/STM32_DevBoard/STM32_DevBoard-backups/*
manufacturing/STM32_DevBoard/*.log
